[project]
name = "splatlog"
version = "0.4.0-dev"
description = "Python logger that accepts ** values and prints 'em out."
authors = [{ name = "nrser", email = "neil@neilsouza.com" }]
requires-python = ">=3.10"
readme = "README.md"
license = "BSD-3-Clause"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: BSD License",
]
dependencies = [
    "rich>=9",
    "typeguard==3.0.0b2",
]

[project.urls]
Homepage = "https://github.com/nrser/splatlog"
Repository = "https://github.com/nrser/splatlog"
Documentation = "http://nrser.com/splatlog"

[dependency-groups]
dev = [
    "black>=22.3.0",
    "doctor-testerson",
]
docs = [
    "myst-parser>=4.0.1",
    "sphinx>=8.1.3",
    "sphinx-autodoc2>=0.5.0",
    "sphinx-autobuild>=2024.10.3",
    "furo>=2025.9.25",
]
notes = ["jupyter>=1.0.0,<2"]

[tool.uv]
default-groups = [
    "dev",
    "notes",
    "docs",
]
no-build-isolation-package = ["pyyaml"]

[tool.uv.sources]
doctor-testerson = { git = "https://github.com/nrser/doctor-testerson.git" }

[tool.hatch.build.targets.sdist]
include = [
    "splatlog",
    "LICENSE",
]
exclude = [
    "splatlog/_docs.py",
    "splatlog/_testing.py",
]

[tool.hatch.build.targets.wheel]
include = [
    "splatlog",
    "LICENSE",
]
exclude = [
    "splatlog/_docs.py",
    "splatlog/_testing.py",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
